
.topWrapper{
    margin: 0px 330px 0px 0px;


}
.title {
    font-family: "Orchidea Pro Medium";
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    text-transform: uppercase;
    text-align: center;
    margin: 200px 0 120px 0;
}

.topText{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #141414;
}
.topMainSectionOne{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.topMainSectionTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0 0px 260px;
    max-width: 1323px;
    max-height: 411px;
}
.topTextSectionOne{
    max-width: 600px;
}
.topTextSectionTwo{
    max-width: 600px;
}
 .rings{
     width: 860px;
     height: 480px;
}
.panama{
    width: 599px;
    height: 411px;
}