
.title {
  font-family: "Orchidea Pro Medium";
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: start;
  margin: 200px 0 120px 0px;
}
#block1 {
  margin-left : 260px;
  overflow : hidden !important;
  max-width: 90%;
}

.slides {
  display: flex;
  flex-wrap: nowrap;
  height: 510px
}

.slide{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  width: 330px;
  margin: 0 10px;
}

@media (max-width: 415px) {

  .title {
    font-weight: 500;
    font-size: 24px;
    text-align: start;
    margin: 110px 20px 64px 20px ;
    ;
  }
  #block1 {
    margin-left : 0px;
    overflow : hidden !important;
    max-width: 90%;
  }
  .slides {

    height: 345px
  }
  .slide{
    padding: 5px;
    width: 225px;
    margin: 0 10px;
  }
}

