
.title {
  font-family: "Orchidea Pro Medium", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: start;
  margin: 200px 0 120px 100px;
}
#block1 {
  margin-left : 260px;
  overflow : hidden !important;
  max-width: 90%;
}

.slides {
  display: flex;
  flex-wrap: nowrap;
  height: 510px
}

.slide{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  width: 330px;
  margin: 0 10px;
}
@media (max-width: 1800px) {
  .title {
    margin: 170px 0 120px 0;
  }
  #block1 {
    margin-left : 170px;
  }
}
@media (max-width: 1550px) {
  .title {
    font-size: 40px;
    margin: 130px 0 100px 0;
  }
  #block1 {
    margin-left : 130px;
  }
}

@media (max-width: 1100px) {

  .title {
    font-size: 34px;
    margin: 110px 0 30px 0;
  }
  #block1 {
    margin-left : 110px;
  }
  .slides {
    height: 400px
  }
  .slide{
    padding: 7px;
    width: 250px;
    margin: 0 10px;
  }
}

@media (max-width: 615px) {

  .title {
    font-weight: 500;
    font-size: 24px;
    text-align: start;
    margin: 110px 20px 64px 20px ;
    ;
  }
  #block1 {
    margin-left : 0;
  }
  .slides {

    height: 345px
  }
  .slide{
    padding: 5px;
    width: 225px;
    margin: 0 10px;
  }
}

