@font-face {
  font-family: 'Orchidea Pro Medium';
  src: local('Orchidea Pro Medium'), url(./fonts/OrchideaPro-Medium.woff2) format('truetype');
}
body {
  margin: 0;
  font-family: 'Orchidea Pro Medium', 'Manrope', sans-serif,'Roboto';

}

code {
  font-family: 'Orchidea Pro Medium', Monaco;
}
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
