.bottomWrapper{
    margin: 0px 330px 150px 0px;
}
.title {
    font-family: "Orchidea Pro Medium";
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    text-transform: uppercase;
    text-align: start;
    margin: 150px 0 120px  260px;
}
h2{
    font-family: "Orchidea Pro Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #141414;
    margin-bottom: 25px;

}
.bottomText{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    display: flex;
    align-items: center;

    color: #141414;
}
.topMainSectionOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: -21px;
    top: -104px;
}
.topMainSectionTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 0px 260px;
    /*max-width: 1323px;*/
    /*max-height: 411px;*/
}
.topTextSectionOne{
    max-width: 600px;
}
.topTextSectionTwo{
    max-width: 600px;
}
.blackDress{
    width: 900px;
    height: 604px;
}
.flowerOnAMouth{
    /*width: 604px;*/
    /*height: 884px*/
}
@media (max-width: 415px) {
    .bottomWrapper {
        margin: 64px 0px
    }

    .title {
        font-weight: 500;
        font-size: 24px;
        text-align: start;
        margin: 64px 20px 64px 20px ;
    }

    .blackDressImg {
        width: 100%;
        height: 370px;
        margin-bottom: 0;
        background-image: url("../pictures/BlackDress.png");
        background-position: -160px;
        background-size: cover;
    }

    .blackDressImg img {
        display: none;
    }

    .topMainSectionOne {
        display: block;
        text-align: center;
        align-items: center;
    }

    .topMainSectionTwo {
        display: block;
        text-align: center;
        align-items: center;
        margin:  0;
        max-width: none;
        max-height: none;
    }

    .topTextSectionOne h2 {
        font-size: 24px;
        margin-top: 20px;
    }

    .topTextSectionTwo h2 {
        font-size: 24px;
        display:table;

    }

    .bottomText {
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        display: flex;
        align-items: center;
        color: #141414;
    }

    .flowerOnAMouth {
        width: 100%;
        height: 360px;
        display:table-header-group;
        margin-bottom: 20px;
    }

    .flowerOnAMouth img {
        width: 100%;
        height: 360px;
    }

    .topTextSectionOne p {
        font-size: 14px;
        margin: 40px 20px;
    }

    .topTextSectionTwo p {
        font-size: 14px;
        margin: 20px;
    }
    .topTextSectionTwo{
        display:table-footer-group;
    }
}
